
#container{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 7em;
    width: 100%;
}

.hex0_large{
    margin-top: -4.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;

    display: inline-block;

    width: 12em;
    height: 15em;

    overflow: hidden;
    transform: rotate(-120deg);
}

.hex1_large {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
}

.hex2_large {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
    position: relative;
}

.innerTextWrapper{
    display: inline-block
}

.galleryImage_large {
    width: auto;
    height: 100%;
    margin-left: -1.75em;
    z-index: -1;
}


.hex0_small{
    /*background-color: lightblue;*/
    margin-top: 0em;
    margin-left: 0em;
    display: inline-block;
    transform: rotate(0deg);
    width: 50vw;
    height: 50vw;
}
.hex1_small {
    /*background-color: lightcoral;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}
.hex2_small {
    /*background-color: lightseagreen;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}
.galleryImage_small {
    min-width: 100%;
    min-height: 100%;

    max-width: 110%;
    max-height: 110%;
}

.hex0_tiny{
    /*background-color: lightblue;*/
    margin-top: 0em;
    margin-left: 0em;
    display: inline-block;
    transform: rotate(0deg);
    width: 100vw;
    height: 100vw;
}
.hex1_tiny {
    /*background-color: lightcoral;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}
.hex2_tiny {
    /*background-color: lightseagreen;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}
.galleryImage_tiny {
    min-width: 100%;
    min-height: 100%;

    max-width: 110%;
    max-height: 110%;
}

.wrapwrap{
    min-width: 360px;
}


.workImgContainer{
    position: relative;
}


.workImg{
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    max-width: 110%;
    max-height: 110%;
}