/********************
* This is the CSS for handling responsiveness to different screensizes.
*
********************/

/********************
SMALL SCREEN PC

********************/
@media screen and (max-width: 1016px) {
  .wrapper {
    max-width: 800px;
  }
  .nav-bar {
    margin-top: 98px;
    width: 340px;
    display: inline-block;
  }

  .logo {
    position: absolute;
    width: 120px;
    top: 50px;
    left: 340px;
  }
}

/********************
TABLET

********************/
@media screen and (max-width: 898px) {
  /********************
    GENERAL
    ********************/
  .wrapper {
    width: 90%;
  }

  /********************
    HEADER / NAVBAR
    ********************/

  #header {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 200px;
    position: relative;
    border-bottom: 1px solid #423f3f;
  }

  .nav-bar {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
  }
  .left {
    order: 2;
    text-align: center;
  }
  .right {
    order: 3;
    text-align: center;
  }

  .nav-link {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width: 28%;
    border-bottom: none;
    padding-bottom: 4px;
    letter-spacing: 3px;
  }

  .nav-link a {
    color: #423f3f;
  }

  .logo {
    position: relative;
    order: 1;
    width: 120px;
    margin-left: 100px;
    top: auto;
    left: auto;
  }

  .logo img {
    width: 100%;
  }

  #map {
    width: 500px;
    height: 500px;
  }

  .blogInlineImage {
    width: 80%;
    margin-top: 40px;
    margin-right: 10%;
    margin-right: 10%;
  }

  .blogInlineText {
    width: 80%;
    margin-top: 40px;
    margin-right: 10%;
    margin-right: 10%;
  }

  .blogItem {
    width: 48%;
  }

  /********************
        CASE BUTTONS
    ********************/

  #nextButton {
    position: absolute;

    height: 100%;
    width: 50%;
    top: 0;

    right: 0;
  }

  #prevButton {
    position: absolute;

    height: 100%;
    width: 50%;
    top: 0;

    left: 0;
  }

  #nextButton img {
    /*display: none;*/
    position: absolute;
    height: 50px;
    right: 0;
  }

  #prevButton img {
    /*display: none;*/
    position: absolute;
    height: 50px;
    left: 0;
  }

  #nextButton:hover {
    background-color: #bbbbbb;
    opacity: 0.5;
  }

  #nextButton:hover img {
    content: url('../img/triangleRight.png');
    opacity: 0.5;
    display: none;
  }

  #prevButton:hover {
    /*background-color: #bbbbbb;*/
    background-color: #bbbbbb;
    opacity: 0.5;
  }

  #prevButton:hover img {
    /*content: url("../img/triangleLeft.png");*/
    display: none;
    opacity: 0.5;
  }
}

/********************
MOBILE SCREEN

********************/
@media screen and (max-width: 540px) {
  .social-icon {
    width: 30px;
    height: 30px;
  }

  .contact {
    font-size: 14px;
  }

  .pageTitle {
    font-size: 30px;
  }

  #map {
    width: 320px;
    height: 400px;
  }

  .blogInlineImage {
    width: 90%;
    margin-top: 40px;
    margin-right: 5%;
    margin-right: 5%;
  }

  .blogInlineText {
    width: 90%;
    margin-top: 40px;
    margin-right: 5%;
    margin-right: 5%;
  }
  .blogItem {
    width: 95%;
  }

  #about_employeeOverview {
    display: none;
  }

  #nextButton img {
    /*display: none;*/
    height: 30px;
  }

  #prevButton img {
    /*display: none;*/
    height: 30px;
  }

  .workImgSquare{
    width: 100%;
  }
}
